:root {
    --primary-color: #FBEAEB ;
    --secondary-color: #00539C;
    --accent-color: #EEA47F ;
    --white: #ffffff;
  }

html {
    scroll-behavior: smooth;
}

/* used for previous search title */
/* buttons will be generated as new elements from js */
.hidden {
    display: none;
}

.before-search {
    display: flex;
    justify-content: center;
}


/* styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

#header {
    background: linear-gradient(to right, var(--secondary-color), #2F3C7E);
    /* background-color: var(--secondary-color); */
    color: #ffffff;
}

.days {
    background-color: var(--secondary-color);
    color: white;
}

#current-day {
    border: solid 2px var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

.separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb
}

.button {
    background-color: var(--accent-color);
    color: #fffefe;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    box-shadow: inset 0px 0px 8px var(--primary-color) , 0 0 15px var(--accent-color);
    background-color: var(--primary-color);
    color: #000000;
}